@media screen and (max-width: 800px) {
    body {
        padding-top: 80px;
    }

    .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #E6344A;
    }

    .menu_bar .btn-menu {
        display: block;
        padding: 20px;
        color: #FFF;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav {
        width: 85%;
        height: calc(100% - 80px);
        position: fixed;
        background: rgba(0,0,0,.9);
        border-radius: 0;
        left: 100%;
        margin: 0;
        overflow: auto;
    }

    header nav ul li {
        display: block;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    header nav ul li a {
        display: block;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
        background-color: #222;
        display: none;
    }

    header nav ul li .children li a {
        margin-left: 20px;
    }

    header nav ul li .marcador-menu {
        float: right;
    }
}